---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic MlJsQ1phUEdTcG10TG1Ec3JiUFVRcTJjSTpvOWVqQmkwM0E2Q21pelNJcEE5RURrb3VJZmhKaXJCTWd0Q0RERE9xQXZjWUc1a3ZQQQ==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 30 Jan 2020 22:56:09 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 991362ff103aee6cb3eb8734aa677298
      X-Response-Time:
      - '131'
      X-Transaction:
      - 00d629a700236897
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAOmHCAEAAAAAzUTde3MRTMRcBrwX4uNeYxWh7cw%3DWFyo9dcHkrMZRAfgHJDT6M73WoVtfwF7p674SECa7nrWhnspQ1"}'
  recorded_at: Thu, 30 Jan 2020 22:56:33 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23dog&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAOmHCAEAAAAAzUTde3MRTMRcBrwX4uNeYxWh7cw%3DWFyo9dcHkrMZRAfgHJDT6M73WoVtfwF7p674SECa7nrWhnspQ1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 30 Jan 2020 22:56:09 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 63a4a1f3a71f9806a6b1864f63868945
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '407'
      X-Rate-Limit-Reset:
      - '1580425461'
      X-Response-Time:
      - '305'
      X-Transaction:
      - '0018c57100b7188b'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Thu Jan 30 22:55:56 +0000 2020","id":1223017025313935360,"id_str":"1223017025313935360","full_text":"RT
        @FMSPCA: Meet Avalanche! Avalanche is a very excitable pup looking to find
        his fur-ever home! He is very smart and would love to find a\u2026","truncated":false,"display_text_range":[0,139],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"FMSPCA","name":"Wood
        Buffalo Humane Society","id":239171363,"id_str":"239171363","indices":[3,10]}],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1195082584742649856,"id_str":"1195082584742649856","name":"Mary
        Marvel #AdoptDontShop\ud83d\udc15\ud83d\udc08\ud83d\udc07 \u2728 God Bless\ud83d\ude4f","screen_name":"MaryMar87156109","location":"","description":"Happily
        married mom of both human and Furkids \ud83d\udc68\u200d\ud83d\udc69\u200d\ud83d\udc67\u200d\ud83d\udc66\ud83d\udc15\ud83d\udc08.
        Love \u2764 Proud Catholic\u271d\ufe0f\ud83d\uded0","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":352,"friends_count":370,"listed_count":0,"created_at":"Thu
        Nov 14 20:54:40 +0000 2019","favourites_count":3060,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":20651,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1212570649023176710\/gIEmHcKV_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1212570649023176710\/gIEmHcKV_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1195082584742649856\/1577934327","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Jan 30 20:35:04 +0000 2020","id":1222981575161384961,"id_str":"1222981575161384961","full_text":"Meet
        Avalanche! Avalanche is a very excitable pup looking to find his fur-ever
        home! He is very smart and would love to find a home that will help him with
        his basic obedience. He is very sweet and loves to give kisses. Read more
        here! https:\/\/t.co\/Kw03dXjgIg #dog #woof #ymm https:\/\/t.co\/Ko8LnjHCZf","truncated":false,"display_text_range":[0,275],"entities":{"hashtags":[{"text":"dog","indices":[260,264]},{"text":"woof","indices":[265,270]},{"text":"ymm","indices":[271,275]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/Kw03dXjgIg","expanded_url":"https:\/\/fmspca.ca\/adoptable-dogs\/","display_url":"fmspca.ca\/adoptable-dogs\/","indices":[236,259]}],"media":[{"id":1222981573483683840,"id_str":"1222981573483683840","indices":[276,299],"media_url":"http:\/\/pbs.twimg.com\/media\/EPjnQu5X4AA8VAE.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/EPjnQu5X4AA8VAE.jpg","url":"https:\/\/t.co\/Ko8LnjHCZf","display_url":"pic.twitter.com\/Ko8LnjHCZf","expanded_url":"https:\/\/twitter.com\/FMSPCA\/status\/1222981575161384961\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":680,"resize":"fit"},"large":{"w":1536,"h":1536,"resize":"fit"},"medium":{"w":1200,"h":1200,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1222981573483683840,"id_str":"1222981573483683840","indices":[276,299],"media_url":"http:\/\/pbs.twimg.com\/media\/EPjnQu5X4AA8VAE.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/EPjnQu5X4AA8VAE.jpg","url":"https:\/\/t.co\/Ko8LnjHCZf","display_url":"pic.twitter.com\/Ko8LnjHCZf","expanded_url":"https:\/\/twitter.com\/FMSPCA\/status\/1222981575161384961\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":680,"resize":"fit"},"lar[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23duck&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAOmHCAEAAAAAzUTde3MRTMRcBrwX4uNeYxWh7cw%3DWFyo9dcHkrMZRAfgHJDT6M73WoVtfwF7p674SECa7nrWhnspQ1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - a[...]
