<div class="col-auto mb-4 mr-2">
  <div class="container" style="width: 21rem; max-height: 20rem;">
    <div class="card">
      <div class="card-body" id="tweet_id_<%= tweet.tweet_id %>" >
	<div class="row d-flex flex-row">
	  <div class="container d-flex justify-content-center">
	    <p class="card-text text-center"> <%= tweet.content %></p>
	  </div>
	</div>
	<div class="row d-flex">
	  <div class="container d-flex flex-row-reverse">
	    <footer class="blockquote-footer"> <%= tweet.name %> </footer>
	  </div>
	</div>
      </div>
      <div class="card-footer text-center text-muted">
	<footer > <%= tweet.date %> </footer>
      </div>
    </div>
  </div>
</div>
