<div class="col-auto mb-4">
  <div class="card" style="width: 12rem";>
    <div class="card-body">
      <h2 class="text-truncate"><%= tag.hashtag %></h2>
      <%= link_to 'Show', hashtag_path(tag), id:"show_#{tag.hashtag}", class: "btn btn-secondary btn-sm" %>
      <%= link_to 'Delete', hashtag_path(tag), method: :delete,
	  data: { confirm: 'Are you sure?' }, id:"delete_#{tag.hashtag}", class: "btn btn-danger btn-sm" %>
    </div>
  </div>
</div>
