<h1>Tweet Hunter</h1>
 
<%= link_to 'New hashtag', new_hashtag_path %>

<table>
  <tr>
    <th>Hashtag</th>
    <th></th>
  </tr>
 
  <% @hashtags.each do |tag| %>
    <tr>
      <td><%= tag.hashtag %></td>
      <td><%= link_to 'Show', hashtag_path(tag) %></td>
      <td><%= link_to 'Delete', hashtag_path(tag), method: :delete,
	      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
