<div class="row">
  <div class="container-fluid mt-4">
    <p>
      <%= link_to 'New hashtag', new_hashtag_path, class: "btn btn-primary" %>
    </p>
  </div>
</div>

<div class="row">

  <div class="container-fluid mt-4">
    <div class="row justify-content-between">
      <%= render partial: "hashtag", collection: @hashtags, as: 'tag' %>
    </div>
  </div>

</div>
