<%= link_to 'Back', hashtags_path %>

<p>
  <strong>Hashtag:</strong>
  <%= @hashtag.hashtag %>
</p>

<h2>Tweets</h2>
<%= render partial: "tweets/tweet", collection: @tweets %>

<%= link_to 'Back', hashtags_path %>
