<%= link_to 'Back', hashtags_path %>

<p>
  <strong>Hashtag:</strong>
  <%= @hashtag.hashtag %>
</p>

<h2>Tweets</h2>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Content</th>
      <th>Date</th>
    </tr>
  </thead>
  <%= render partial: "tweets/tweet", collection: @tweets %>
</table>

<%= link_to 'Back', hashtags_path %>
