<%= link_to 'Back', hashtags_path %>

<p>
  <strong>Hashtag:</strong>
  <%= @hashtag.hashtag %>
</p>

<h2>Tweets</h2>
<table>
<tr>
  <%= render partial: "tweets/tweet", collection: @tweets %>
</tr>
</table>

<%= link_to 'Back', hashtags_path %>
