---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic MlJsQ1phUEdTcG10TG1Ec3JiUFVRcTJjSTpvOWVqQmkwM0E2Q21pelNJcEE5RURrb3VJZmhKaXJCTWd0Q0RERE9xQXZjWUc1a3ZQQQ==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 01 Feb 2020 00:57:06 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 530cf7d27bf78218678566cbfa41fa95
      X-Response-Time:
      - '23'
      X-Transaction:
      - 00aeacbe00295d2f
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAOmHCAEAAAAAzUTde3MRTMRcBrwX4uNeYxWh7cw%3DWFyo9dcHkrMZRAfgHJDT6M73WoVtfwF7p674SECa7nrWhnspQ1"}'
  recorded_at: Sat, 01 Feb 2020 00:57:32 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23dog&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAOmHCAEAAAAAzUTde3MRTMRcBrwX4uNeYxWh7cw%3DWFyo9dcHkrMZRAfgHJDT6M73WoVtfwF7p674SECa7nrWhnspQ1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 01 Feb 2020 00:57:07 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 3799c905f5f3bf906d431e999619bc87
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '437'
      X-Rate-Limit-Reset:
      - '1580519391'
      X-Response-Time:
      - '138'
      X-Transaction:
      - 003e139800e1c6c6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Sat Feb 01 00:56:46 +0000 2020","id":1223409824643395586,"id_str":"1223409824643395586","full_text":"RT
        @queenluluthepug: Woo it\u2019s #FridayNight! Happy #FridayFunDay everybody!
        I\u2019m ready to do something. I wanna go out and have some fun! Pop\u2026","truncated":false,"display_text_range":[0,140],"entities":{"hashtags":[{"text":"FridayNight","indices":[30,42]},{"text":"FridayFunDay","indices":[50,63]}],"symbols":[],"user_mentions":[{"screen_name":"queenluluthepug","name":"Lulu
        The Pug","id":712059828164759553,"id_str":"712059828164759553","indices":[3,19]}],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2276964685,"id_str":"2276964685","name":"PugLover","screen_name":"apalombi67","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":705,"friends_count":1622,"listed_count":2,"created_at":"Sun
        Jan 05 02:28:25 +0000 2014","favourites_count":109368,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":8450,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/718497273596878848\/5GZCsWTB_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/718497273596878848\/5GZCsWTB_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Jan 31 21:52:37 +0000 2020","id":1223363479257698306,"id_str":"1223363479257698306","full_text":"Woo
        it\u2019s #FridayNight! Happy #FridayFunDay everybody! I\u2019m ready to do
        something. I wanna go out and have some fun! Poppy better not ruin this for
        me... #dog #dogs #dogsoftwitter #dogsofinstagram #pug #pugs @TheEllenShow
        @jimmyfallon #lulunatics #doglover # https:\/\/t.co\/wnt58BzjuR","truncated":false,"display_text_range":[0,256],"entities":{"hashtags":[{"text":"FridayNight","indices":[9,21]},{"text":"FridayFunDay","indices":[29,42]},{"text":"dog","indices":[152,156]},{"text":"dogs","indices":[157,162]},{"text":"dogsoftwitter","indices":[163,177]},{"text":"dogsofinstagram","indices":[178,194]},{"text":"pug","indices":[195,199]},{"text":"pugs","indices":[200,205]},{"text":"lulunatics","indices":[233,244]},{"text":"doglover","indices":[245,254]}],"symbols":[],"user_mentions":[{"screen_name":"TheEllenShow","name":"Ellen
        DeGeneres","id":15846407,"id_str":"15846407","indices":[206,219]},{"screen_name":"jimmyfallon","name":"jimmy
        fallon","id":15485441,"id_str":"15485441","indices":[220,232]}],"urls":[],"media":[{"id":1223363348198281217,"id_str":"1223363348198281217","indices":[257,280],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1223363348198281217\/pu\/img\/1oJX_LKmtEjv4ogx.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1223363348198281217\/pu\/img\/1oJX_LKmtEjv4ogx.jpg","url":"https:\/\/t.co\/wnt58BzjuR","display_url":"pic.twitter.com\/wnt58BzjuR","expanded_url":"https:\/\/twitter.com\/queenluluthepug\/status\/1223363479257698306\/video\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":383,"h":680,"resize":"fit"},"large":{"w":720,"h":1280,"resize":"fit"},"medium":{"w":675,"h":1200,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1223363348198281217,"id_str":"1223363348198281217","indices":[257,280],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1223363348198281217\/pu\/img\/1oJX_LKmtEjv4ogx.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1223363348198281217\/pu\/img\/1oJX_LKmtEjv4ogx.jpg","url":"https:\/\/t.co\/wnt58BzjuR","display_url":"pic.twitter.com\/wnt58BzjuR","expanded_url":"https:\/\/twitter.com\/queenluluthepug\/status\/1223363479257698306\/video\/1","type":"video","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":383,"h":680,"resize":"fit"},"large":{"w":720,"h":1280,"resize":"fit"},"medium":{"w":675,"h":1200,"resize":"fit"}},"video_info":{"aspect_ratio":[9,16],"duration_millis":108962,"variants":[{"bitrate":832000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1223363348198281217\/pu\/vid\/360x640\/vNjIAZe1eY58FByv.mp4?tag=10"},{"content_type":"application\/x-mpegURL","url":"https:\/\/video.twimg.com\/ext_tw_video\/1223363348198281217\/pu\/pl\/aDfiNcx-R8CXTZP5.m3u8?tag=10"},{"bitrate":632000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1223363348198281217\/pu\/vid\/320x568\/TTpGv4Bs0pdQrqvf.mp4?tag=10"},{"bitrate":2176000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1223363348198281217\/pu\/vid\/720x1280\/SVib0fIuMBFtuFnX.mp4?tag=10"}]},"additional_media_info":{"monetizable":false}}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":712059828164759553,"id_str":"712059828164759553","name":"Lulu
        The Pug","screen_name":"queenluluthepug","location":"May[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23cat&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAOmHCAEAAAAAzUTde3MRTMRcBrwX4uNeYxWh7cw%3DWFyo9dcHkrMZRAfgHJDT6M73WoVtfwF7p674SECa7nrWhnspQ1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - ap[...]
