---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic MlJsQ1phUEdTcG10TG1Ec3JiUFVRcTJjSTpvOWVqQmkwM0E2Q21pelNJcEE5RURrb3VJZmhKaXJCTWd0Q0RERE9xQXZjWUc1a3ZQQQ==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 30 Jan 2020 23:08:22 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 6c692dbf8c97188e1fd3316ac036f318
      X-Response-Time:
      - '132'
      X-Transaction:
      - 001a8c2e004ebb74
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAOmHCAEAAAAAzUTde3MRTMRcBrwX4uNeYxWh7cw%3DWFyo9dcHkrMZRAfgHJDT6M73WoVtfwF7p674SECa7nrWhnspQ1"}'
  recorded_at: Thu, 30 Jan 2020 23:08:47 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23dog&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAOmHCAEAAAAAzUTde3MRTMRcBrwX4uNeYxWh7cw%3DWFyo9dcHkrMZRAfgHJDT6M73WoVtfwF7p674SECa7nrWhnspQ1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 30 Jan 2020 23:08:23 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2b2bb29bd7340508155f19680714110c
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '425'
      X-Rate-Limit-Reset:
      - '1580426365'
      X-Response-Time:
      - '298'
      X-Transaction:
      - '000993d600e7f11b'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Thu Jan 30 23:08:11 +0000 2020","id":1223020111071711235,"id_str":"1223020111071711235","full_text":"RT
        @alexs_journey: Despite how sad he is he must d his physiotherapy. He is working
        hard despite feeling so sad and the physio was very dem\u2026","truncated":false,"display_text_range":[0,140],"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"alexs_journey","name":"Alexander''s
        Journey","id":743425953230110720,"id_str":"743425953230110720","indices":[3,17]}],"urls":[]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":37209381,"id_str":"37209381","name":"Gillian
        Knight","screen_name":"liljeani","location":"Sunshine State","description":"Author,
        Podcast Host. Independent thinker. Going wherever my peregrination takes me.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":104,"friends_count":260,"listed_count":3,"created_at":"Sat
        May 02 14:50:30 +0000 2009","favourites_count":4932,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":6189,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"0099B9","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme4\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme4\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1212191822098948097\/4pkNrM59_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1212191822098948097\/4pkNrM59_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/37209381\/1368279829","profile_link_color":"0099B9","profile_sidebar_border_color":"5ED4DC","profile_sidebar_fill_color":"95E8EC","profile_text_color":"3C3940","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Thu
        Jan 30 17:49:34 +0000 2020","id":1222939928532869121,"id_str":"1222939928532869121","full_text":"Despite
        how sad he is he must d his physiotherapy. He is working hard despite feeling
        so sad and the physio was very demanding this evening. Bojar his Labrador
        came to console him. \ud83d\udcaa\ud83c\udffb\ud83e\uddbf #AlexandersJourney
        #dogsoftwitter #Dog #Labrador #ChildhoodCancer #CancerRehab #Rehabilitation
        https:\/\/t.co\/SWhfv9zvGI","truncated":false,"display_text_range":[0,279],"entities":{"hashtags":[{"text":"AlexandersJourney","indices":[185,203]},{"text":"dogsoftwitter","indices":[204,218]},{"text":"Dog","indices":[219,223]},{"text":"Labrador","indices":[224,233]},{"text":"ChildhoodCancer","indices":[234,250]},{"text":"CancerRehab","indices":[251,263]},{"text":"Rehabilitation","indices":[264,279]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1222939897276829697,"id_str":"1222939897276829697","indices":[280,303],"media_url":"http:\/\/pbs.twimg.com\/media\/EPjBW27WkAE7VfQ.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/EPjBW27WkAE7VfQ.jpg","url":"https:\/\/t.co\/SWhfv9zvGI","display_url":"pic.twitter.com\/SWhfv9zvGI","expanded_url":"https:\/\/twitter.com\/alexs_journey\/status\/1222939928532869121\/photo\/1","type":"photo","sizes":{"small":{"w":510,"h":680,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":900,"h":1200,"resize":"fit"},"large":{"w":1536,"h":2048,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1222939897276829697,"id_str":"1222939897276829697","indices":[280,303],"media_url":"http:\/\/pbs.twimg.com\/media\/EPjBW27WkAE7VfQ.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/EPjBW27WkAE7VfQ.jpg","url":"https:\/\/t.co\/SWhfv9zvGI","display_url":"pic.twitter.com\/SWhfv9zvGI","expanded_url":"https:\/\/twitter.com\/alexs_journey\/status\/1222939928532869121\/photo\/1","type":"photo","sizes":{"small":{"w":510,"h":680,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23cat&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAOmHCAEAAAAAzUTde3MRTMRcBrwX4uNeYxWh7cw%3DWFyo9dcHkrMZRAfgHJDT6M73WoVtfwF7p674SECa7nrWhnspQ1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - ap[...]
