---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic MlJsQ1phUEdTcG10TG1Ec3JiUFVRcTJjSTpvOWVqQmkwM0E2Q21pelNJcEE5RURrb3VJZmhKaXJCTWd0Q0RERE9xQXZjWUc1a3ZQQQ==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 30 Jan 2020 23:09:52 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - aae8d1ff5478675ec2f16481f1759e67
      X-Response-Time:
      - '132'
      X-Transaction:
      - 00d519b8008ee97e
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAOmHCAEAAAAAzUTde3MRTMRcBrwX4uNeYxWh7cw%3DWFyo9dcHkrMZRAfgHJDT6M73WoVtfwF7p674SECa7nrWhnspQ1"}'
  recorded_at: Thu, 30 Jan 2020 23:10:17 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23udesc&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAOmHCAEAAAAAzUTde3MRTMRcBrwX4uNeYxWh7cw%3DWFyo9dcHkrMZRAfgHJDT6M73WoVtfwF7p674SECa7nrWhnspQ1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 30 Jan 2020 23:09:53 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 67a13465ba020a7088a240df5cd85f59
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '411'
      X-Rate-Limit-Reset:
      - '1580426365'
      X-Response-Time:
      - '146'
      X-Transaction:
      - 005337ad00dd1be9
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Thu Jan 30 17:32:42 +0000 2020","id":1222935683817508866,"id_str":"1222935683817508866","full_text":"RT
        @udesc_esag: Juliana Francisconi Cardoso far\u00e1 nesta sexta, 31, \u00e0s
        9h, na Sala 08 da #Udesc #Esag, a defesa de sua disserta\u00e7\u00e3o do Mestrad\u2026","truncated":false,"display_text_range":[0,140],"entities":{"hashtags":[{"text":"Udesc","indices":[87,93]},{"text":"Esag","indices":[94,99]}],"symbols":[],"user_mentions":[{"screen_name":"udesc_esag","name":"Udesc
        Esag","id":221050908,"id_str":"221050908","indices":[3,14]}],"urls":[]},"metadata":{"iso_language_code":"pt","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":267553737,"id_str":"267553737","name":"Udesc","screen_name":"udesc","location":"","description":"Universidade
        do Estado de Santa Catarina - P\u00fablica, gratuita e de qualidade","url":"https:\/\/t.co\/xMw88QcjM6","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/xMw88QcjM6","expanded_url":"http:\/\/www.udesc.br","display_url":"udesc.br","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":4654,"friends_count":71,"listed_count":38,"created_at":"Thu
        Mar 17 04:06:20 +0000 2011","favourites_count":5686,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":14801,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"129953","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1217623102949089280\/HYv4ntBC_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1217623102949089280\/HYv4ntBC_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/267553737\/1571256611","profile_link_color":"074D26","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"regular"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Jan 29 22:54:24 +0000 2020","id":1222654252767752192,"id_str":"1222654252767752192","full_text":"Juliana
        Francisconi Cardoso far\u00e1 nesta sexta, 31, \u00e0s 9h, na Sala 08 da #Udesc
        #Esag, a defesa de sua disserta\u00e7\u00e3o do Mestrado Profissional em Administra\u00e7\u00e3o.
        Ela prop\u00f5e o aperfei\u00e7oamento do controle do @TCE_SC  sobre a d\u00edvida
        p\u00fablica do Estado. https:\/\/t.co\/KooUCI6tfV","truncated":false,"display_text_range":[0,242],"entities":{"hashtags":[{"text":"Udesc","indices":[71,77]},{"text":"Esag","indices":[78,83]}],"symbols":[],"user_mentions":[{"screen_name":"TCE_SC","name":"TCE\/SC","id":764215134,"id_str":"764215134","indices":[200,207]}],"urls":[],"media":[{"id":1222654245176070147,"id_str":"1222654245176070147","indices":[243,266],"media_url":"http:\/\/pbs.twimg.com\/media\/EPe9jt7X0AMf3nb.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/EPe9jt7X0AMf3nb.jpg","url":"https:\/\/t.co\/KooUCI6tfV","display_url":"pic.twitter.com\/KooUCI6tfV","expanded_url":"https:\/\/twitter.com\/udesc_esag\/status\/1222654252767752192\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1024,"h":682,"resize":"fit"},"medium":{"w":1024,"h":682,"resize":"fit"},"small":{"w":680,"h":453,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1222654245176070147,"id_str":"1222654245176070147","indices":[243,266],"media_url":"http:\/\/pbs.twimg.com\/media\/EPe9jt7X0AMf3nb.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/EPe9jt7X0AMf3nb.jpg","url":"https:\/\/t.co\/KooUCI6tfV","display_url":"pic.twitter.com\/KooUCI6tfV","expanded_url":"https:\/\/twitter.com\/udesc_esag\/status\/1222654252767752192\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1024,"h":682,"resize":"fit"}[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&include_entities=1&max_id=1220711954764980225&q=%23udesc&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAOmHCAEAAAAAzUTde3MRTMRcBrwX4uNeYxWh7cw%3DWFyo9dcHkrMZRAfgHJDT6M73WoVtfwF7p674SECa7nrWhnspQ1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 30 Jan 2020 23:09:54 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 246f2f0a4288e9bc7364fa77c768cb18
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '410'
      X-Rate-Limit-Reset:
      - '1580426365'
      X-Response-Time:
      - '136'
      X-Transaction:
      - 002ae53100953523
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.005,"max_id":1220711954764980225,"max_id_str":"1220711954764980225","query":"%23udesc","refresh_url":"?since_id=1220711954764980225&q=%23udesc&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Thu, 30 Jan 2020 23:10:19 GMT
recorded_with: VCR 5.0.0
