---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic MlJsQ1phUEdTcG10TG1Ec3JiUFVRcTJjSTpvOWVqQmkwM0E2Q21pelNJcEE5RURrb3VJZmhKaXJCTWd0Q0RERE9xQXZjWUc1a3ZQQQ==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 31 Jan 2020 21:06:13 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 9ed24a429c94c3affe501d88e9834101
      X-Response-Time:
      - '133'
      X-Transaction:
      - 00d485d2002d71d9
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAOmHCAEAAAAAzUTde3MRTMRcBrwX4uNeYxWh7cw%3DWFyo9dcHkrMZRAfgHJDT6M73WoVtfwF7p674SECa7nrWhnspQ1"}'
  recorded_at: Fri, 31 Jan 2020 21:06:39 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23dog&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAOmHCAEAAAAAzUTde3MRTMRcBrwX4uNeYxWh7cw%3DWFyo9dcHkrMZRAfgHJDT6M73WoVtfwF7p674SECa7nrWhnspQ1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 31 Jan 2020 21:06:14 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 9dad5695f4ff738eb9cf00354be8255f
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '379'
      X-Rate-Limit-Reset:
      - '1580504859'
      X-Response-Time:
      - '427'
      X-Transaction:
      - 00b04ff4008d0feb
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Fri Jan 31 21:06:10 +0000 2020","id":1223351791737298944,"id_str":"1223351791737298944","full_text":"RT
        @TacticalDogLive: McDonald''s hit-and-run\nhttps:\/\/t.co\/RR7ZuBwFMZ\n#dog
        #K9 #police #TopDogAE #Military #MAGA #KAG #2A #Trump #QAnon #Live\u2026","truncated":false,"display_text_range":[0,140],"entities":{"hashtags":[{"text":"dog","indices":[68,72]},{"text":"K9","indices":[73,76]},{"text":"police","indices":[77,84]},{"text":"TopDogAE","indices":[85,94]},{"text":"Military","indices":[95,104]},{"text":"MAGA","indices":[105,110]},{"text":"KAG","indices":[111,115]},{"text":"2A","indices":[116,119]},{"text":"Trump","indices":[120,126]},{"text":"QAnon","indices":[127,133]}],"symbols":[],"user_mentions":[{"screen_name":"TacticalDogLive","name":"Tactical
        Dog","id":2270459592,"id_str":"2270459592","indices":[3,19]}],"urls":[{"url":"https:\/\/t.co\/RR7ZuBwFMZ","expanded_url":"https:\/\/www.foxnews.com\/lifestyle\/north-carolina-man-run-over-by-deer-in-mcdonalds-parking-lot","display_url":"foxnews.com\/lifestyle\/nort\u2026","indices":[44,67]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1219806378895777792,"id_str":"1219806378895777792","name":"Jb","screen_name":"J79md","location":"","description":"Good
        things","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":58,"listed_count":0,"created_at":"Wed
        Jan 22 02:18:24 +0000 2020","favourites_count":25,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":8,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1219806667283533824\/1t_0AHzV_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1219806667283533824\/1t_0AHzV_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Jan 31 12:42:17 +0000 2020","id":1223224983339573249,"id_str":"1223224983339573249","full_text":"McDonald''s
        hit-and-run\nhttps:\/\/t.co\/RR7ZuBwFMZ\n#dog #K9 #police #TopDogAE #Military
        #MAGA #KAG #2A #Trump #QAnon #LivePD #WaronDrugs @LivePDNation https:\/\/t.co\/Ipv8HLCjPf","truncated":false,"display_text_range":[0,146],"entities":{"hashtags":[{"text":"dog","indices":[47,51]},{"text":"K9","indices":[52,55]},{"text":"police","indices":[56,63]},{"text":"TopDogAE","indices":[64,73]},{"text":"Military","indices":[74,83]},{"text":"MAGA","indices":[84,89]},{"text":"KAG","indices":[90,94]},{"text":"2A","indices":[95,98]},{"text":"Trump","indices":[99,105]},{"text":"QAnon","indices":[106,112]},{"text":"LivePD","indices":[113,120]},{"text":"WaronDrugs","indices":[121,132]}],"symbols":[],"user_mentions":[{"screen_name":"LivePDNation","name":"#LivePDNation","id":859890121948180484,"id_str":"859890121948180484","indices":[133,146]}],"urls":[{"url":"https:\/\/t.co\/RR7ZuBwFMZ","expanded_url":"https:\/\/www.foxnews.com\/lifestyle\/north-carolina-man-run-over-by-deer-in-mcdonalds-parking-lot","display_url":"foxnews.com\/lifestyle\/nort\u2026","indices":[23,46]}],"media":[{"id":1223224967644569600,"id_str":"1223224967644569600","indices":[147,170],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1223224967644569600\/pu\/img\/0JRMZftcf3bi1Y2r.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1223224967644569600\/pu\/img\/0JRMZftcf3bi1Y2r.jpg","url":"https:\/\/t.co\/Ipv8HLCjPf","display_url":"pic.twitter.com\/Ipv8HLCjPf","expanded_url":"https:\/\/twitter.com\/TacticalDogLive\/status\/1223224983339573249\/video\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":400,"h":226,"resize":"fit"},"small":{"w":400,"h":226,"resize":"fit"},"medium":{"w":400,"h":226,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1223224967644569600,"id_str":"1223224967644569600","indices":[147,170],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1223224967644569600\/pu\/img\/0JRMZftcf3bi1Y2r.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/1223224967644569600\/pu\/img\/0JRMZftcf3bi1Y2r.jpg","url":"https:\/\/t.co\/Ipv8HLCjPf","display_url":"pic.twitter.com\/Ipv8HLCjPf","expanded_url":"https:\/\/twitter.com\/TacticalDogLive\/status\/1223224983339573249\/video\/1","type":"video","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":400,"h":226,"resize":"fit"},"small":{"w":400,"h":226,"resize":"fit"},"medium":{"w":400,"h":226,"resize":"fit"}},"video_info":{"aspect_ratio":[200,113],"duration_millis":14581,"variants":[{"bitrate":256000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/1223224967644569600\/pu\/vid\/400x226\/VUGn8qjA9FhDID72.mp4?tag=10"},{"content_type":"application\/x-mpegURL","url":"https:\/\/video.twimg.com\/ext_tw_video\/1223224967644569600\/pu\/pl\/82DvomfVvxKtoJQB.m3u8?tag=10"}]},"additional_media_info":{"monetizable":false}}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2270459592,"id_str":"2270459592","name":"Tactical
        Dog","screen_name":"TacticalDogLive","location":"USA","description":"K9 Barking
        N[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%23ruby&tweet_mode=extended
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAOmHCAEAAAAAzUTde3MRTMRcBrwX4uNeYxWh7cw%3DWFyo9dcHkrMZRAfgHJDT6M73WoVtfwF7p674SECa7nrWhnspQ1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - a[...]
